<div class="header_link"   >

</div>


<form id="search-form_nav" action=''  method="GET">
    <div class="btn-group dropdown">
        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
         Choise
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  id="choise">
            <ul>
                <input type="text" class="{{ key }}" placeholder="choice..." id="myInput" onkeyup="fil_Func('choise')">
                {% for obj in rest %}
                    <a href="{% url 'one_person' obj.id %}">{{ obj.name }}</li></a>
                {% endfor %}
            </ul>
        </div>

</div>
        </form>
<form id="search" action=''  method="GET">
        <input name="q" id="search-field_nav" type="text" placeholder="Search..." onkeyup="input_Func(event)">
</form>