{% extends 'sitedb/layout.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <h2>Преследования в базе</h2>
<li><ul>Всего : {{ total }}  </ul>
    <ul>Выбрано: {{ selected }} </ul></li>
    <body>
    {% include 'sitedb/pagination.html' %}
        {% block body %}
        {% for persc in object_list %}
        {% include 'sitedb/persecution_information.html' %}
        {% endfor %}
        {% endblock %}
    {% include 'sitedb/pagination.html' %}
    </body>

{% endblock%}

{% block nav %}
    <form id="search-form_nav" action=''  method="GET">
        <div class="btn-group dropdown">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
             Choise
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  id="choise">
                <ul>
                    <input type="text" class="{{ key }}" placeholder="choice..." id="myInput" onkeyup="fil_Func('choise')">
                    {% for obj in rest %}
                        <a href="{% url 'one_person' obj.victim.id %}"><li>{{ obj.victim.name }}</li></a>
                    {% endfor %}
                </ul>
            </div>

    </div>
            </form>
    <form id="search" action=''  method="GET">
            <input name="q_pers" id="search-field_nav" type="text" placeholder="Search..." onkeyup="input_Func(event)">
    </form>
{% endblock %}

{% block filtres %}
<h2>Фильтры</h2>
    <form id="filter-form" action='/persecutions/'  method="GET">
        {% include 'sitedb/filtres_restiction.html' %}
        <br>
        <input type="submit" value="Select/Reset">
    </form>
{% endblock %}

{% block navigation %}
{% endblock %}